.courseSelector{
    margin:auto auto 2rem auto;
  }


  @media (max-width: 768px) {

    .courseSelector{
      max-width: 100%;
      .courseS{
        width:100%;
        height:50px;
      }
    }
  }