.courseSelector{
    margin:auto auto 2rem auto;
    .courseS{
      width:15%;
      height:2rem;
      border:3px solid #1178B8;
      // border-radius: 10px;
    }
  }


  @media (max-width: 768px) {

    .courseSelector{
      max-width: 100%;
      .courseS{
        width:100%;
        height:50px;
      }
    }
  }