.label-radio {
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
  vertical-align: middle;

  .radio {
    display: none;
  }

  .span {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 3px 6px;
    border: 1px solid gray;
    color: black;
    user-select: none;
    vertical-align: middle;
  }

  &:nth-child(1) {
    margin-left: 3px;
  }
}

.radio:checked + .span {
  color: rgb(66, 65, 65);
  background-color: rgb(243, 212, 34);
}
