* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 微軟正黑體;
    
}

// .wrapper {
//     background: #555555;
// }

.coachBanner {
    width: 100%;
    height: 350px;
    position: relative;
    background:url(https://i.ibb.co/CMMr6zY/banner2.jpg) center center;
    opacity: .5;
    object-fit: contain;
}
.coachBannerCover{
    position: absolute;
    top:16%;
    // transform: translateY(-50%);
    h1 {
        width: 1260px;
        margin: 0 auto;
        line-height: 350px;
        font-size: 2.2rem
    }
}

.container {
    width: 1260px;
    margin: 0 auto;
}

