* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 微軟正黑體;
    
}

// .wrapper {
//     background: #555555;
// }

.coachBanner {
    width: 100%;
    height: 350px;
    background: lightsteelblue;
    position: relative;

    img{
        width:100%;
        height:350px;
        opacity:.5
    }

    h1 {
        width: 1260px;
        margin: 0 auto;
        line-height: 350px;
        font-size: 2.2rem
    }
}
.coachBannerCover{
    position: absolute;
    top:1%;
    left:7%;
}

.container {
    width: 1260px;
    margin: 0 auto;
}

