.coachModalBox{
    background:#1178B8;
    text-align: center;
    color:white;
    // display:flex;

    .fCoachImg{
        width:500px;
        position: relative;
        img{
            width: 80%;
        }
        .coachModalNameCover{
            width:80%;
            height:15%;
            position: absolute;
            bottom: 0;
            left: 10%;
            background:rgb(210, 210, 210);
            opacity: .8;
           
        }
        .coachModalName{
            position: absolute;
            width:100px;
            bottom:2%;
            left:39%;
            color: black;
        }
    }
.coachModalCloseBtn{
    // float: right;
    margin: 5px 5px 0 0;
}
.coachModalInformation{
    margin: 10px auto;
    .coachE, .coachL{
        padding:0 0 10px 0;
    }
}
}
