.articleContainer {
  //   border: 1px solid #000000;
  height: calc(100vh - 284px);
  margin: 0px auto;
  width: 100%;
  .edit-list-container {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    color: #fecc2f;
    .edit-list {
      list-style: none;
      display: flex;
      width: 100%;
      height: 100px;
      justify-content: space-around;
    }
  }
  .articleItem {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    margin: 0 auto;

    .articleList {
      display: flex;
      list-style: none;
      justify-content: space-around;

      .articleListId {
        margin-left: 60px;
      }

      .articleListTitle {
        width: 150px;
        height: 40px;
        margin-left: 60px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .articleListContent {
        width: 150px;
        height: 40px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .features {
        margin: 10px 10px;

        button {
          margin-left: 5px;
          color: #1178b8;
        }
      }
    }
  }
}
