.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
    .unValid-backdrop {
        opacity: 0.4;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }
}
