.ServiceRecord {
  height: calc(100vh - 284px);
  .h3-span {
    color: #1178b8;
  }
  .list-title-box {
    width: 700px;
    display: flex;
    margin-top: 30px;
    font-size: 14px;

    .number {
      text-align: center;
      width: 40px;
      margin: 0 20px 0 10px;
    }

    .user-id {
      text-align: center;
      width: 60px;
      margin-right: 20px;
    }

    .user-name {
      text-align: center;
      width: 50px;
      margin-right: 30px;
    }

    .phone-number {
      text-align: center;
      width: 80px;
      margin-right: 10px;
    }

    .e-mail {
      text-align: center;
      width: 160px;
      margin-right: 10px;
    }

    .QA-body {
      text-align: center;
      width: 60px;
      margin-right: 10px;
    }

    .create-time {
      text-align: center;
      width: 110px;
      margin: 0 10px;
    }
  }
}
