.information {
    width: 100%;
    // height:250px;
    margin: 2.5rem auto 0;

    .courseCategoryTitle {
        margin:auto auto 1rem auto;
        font-size: 2rem;
    }

    .introduce {
        margin: 1rem auto 2rem auto;
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media (max-width: 375px) {
    .information {


    .courseCategoryTitle {
        font-size: 1.3rem;
    }

    .introduce{
        font-size: 1rem;
    }
    }
}