.courseBannerContainer{
  position:relative;
.courseBanner {
  width: 100%;
  height: 350px;
  background: url(https://i.ibb.co/sPcg1dc/banner.jpg) 100%;
  opacity: .5;
}
  h1 {
    position: absolute;
    top:43%;
    font-size: 2.2rem;
  }
}

.courseContainer {
  max-width: 1260px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .courseBannerContainer{

  .courseBanner {
    height: 200px;
    background: url(https://i.ibb.co/sPcg1dc/banner.jpg) no-repeat;
    background-size:100%;

  }

  h1 {
    margin: 0 auto;
    font-size: 1.3rem;
    top:45%;
  }
}
  .courseContainer{
width:90%
  }
}